{{ "<!-- Contact Section -->" | safeHTML }}



<section class="section-panel pmd-z-depth" id="contact">
	<div class="container">


			<!--tab start-->
			<div class=" container-fluid full-width-container contact">
				<div class="row map-location">
					<div class="section col-lg-12 col-md-12 col-sm-12 col-xs-12" id="contact">

					<section class="contact-page">
						<div class="row contact-map">
						<div class="iframe-overlay" style="max-width:100%;overflow:hidden;height:700px;">
							<div style="height:700px; width:100%;max-width:100%;" id="google-maps-display">
		    					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121413.0187094275!2d-76.87069677394166!3d18.017923707609125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3f9784ded2a1%3A0x24f321bfabb7af40!2sKingston!5e0!3m2!1sen!2sjm!4v1492299930486" width="100%" height="700px" frameborder="0" style="border:0; pointer-events: none;" allowfullscreen></iframe>
							</div>
						</div>
						<div class="contact-form">
							<div>
								<div class="row">
		  							<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
									<div class="contact-details pmd-card pmd-z-depth-1 fill">
			    						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 feedback-form">
										<h1 class="pmd-display1" style="color: #4285F4">Get in touch</h1>
										<p class="sub-title">I am always happy to make valuable new contacts.</p>
										<div class="common-form-style">
												<form action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group pmd-textfield pmd-textfield-floating-label">
																<label class="control-label pmd-input-group-label" data-error="wrong" data-success="right">{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
																<div class="input-group">
																	<div class="input-group-addon">
																		<i class="material-icons md-dark pmd-sm">person_pin</i>
																	</div>
																	<input type="text" name="name" class="form-control" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}">
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group pmd-textfield pmd-textfield-floating-label">
																<label class="control-label pmd-input-group-label" data-error="wrong" data-success="right">{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
																<div class="input-group">
																	<div class="input-group-addon">
																		<i class="material-icons md-dark pmd-sm">email</i>
																	</div>
																	<input type="email" name="_replyto" class="form-control" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}">
																</div>
															</div>
														</div>
													</div>
													<div class="form-group pmd-textfield pmd-textfield-floating-label">
														<label class="control-label pmd-input-group-label">{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}</label>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="material-icons md-dark pmd-sm">phone</i>
															</div>
															<input type="tel" class="form-control" id="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.error }}{{.}}{{ end }}">
														</div>
													</div>
													<div class="form-group pmd-textfield pmd-textfield-floating-label">
														<div class="input-group">
															<div class="input-group-addon">
																<i class="material-icons md-dark pmd-sm">message</i>
															</div>
															<textarea rows="5" name="message" class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>
														</div>
													</div>
													<div class="btn-group">
														<button class="btn pmd-btn-raised pmd-ripple-effect btn-primary " type="submit">{{ with .Site.Params.contact.form.button.text }}{{.}}{{ end }}</button>
														<a type="reset" class="btn pmd-btn-raised pmd-ripple-effect btn-default" href="https://inkwell.setmore.com/">book an appointment</a>
													</div>
												</form>
										</div>
			    						</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress-col">
													<h2 class="content-title hidden-xs">Contact info</h2>
													<div class="contact-info location col-xs-12 col-sm-12">
														<span><b>Location</b><br>
														Kingston <br>Jamaica W.I<br>JMAAW17</span>
													</div>
													<div class="contact-info customer-care col-xs-12 col-sm-12">
														<span><b>Call</b><br>
														+1 876 8023029</span>
													</div>
													<div class="contact-info mail-us col-xs-12 col-sm-12">
														<span><b>Email</b><br>
														<a href="mailto:lee.christopher.murray@gmail.com">lee.christopher.murray@gmail.com</a></span>
													</div>
												</div>
		   								</div>
		    						</div>
		 						</div>
							</div>
						</div>
						</div>
					</section> <!-- section content end -->
<br></br><br></br><br></br>
					</div>
				</div>
			</div><!-- tab end -->
	</div>
</section>
