{{ "<!-- Header -->" | safeHTML }}


<header class="panelx pmd-z-depth">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="col-lg-6 img-responsive"  src="img/{{ with .Site.Params.header.image }}{{ . }}{{ else }}profile.png{{ end }}" alt="">
                <div class="col-lg-6">
                    <span class="name"><h1 class="pmd-display3">{{ with .Site.Params.header.name }}{{ . }}{{ end }}</h1></span>
                    <span class="skills"><h1 class="pmd-display1">{{ with .Site.Params.header.subtitle }}{{ . }}{{ end }}</h1></span>
			    </br>
                </div>
            </div>
        </div>
    </div>
</header>
