<ul id="post-list" class="archive readmore">
    <h3>{{ with .Site.Params.readMore }}{{ . }}{{ else }}Read more{{ end }}</h3>


    {{ range first 3 (where .Site.Pages "Params.hidden" "ne" "true") }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if and (ne $url "about/") }}

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<!--Media, Title, and Action Area -->
						<div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">

							<!-- Card media-->
						    <div class="pmd-card-media">
						    	<!-- Card media heading -->
							<div class="media-body">
							    <h2 class="pmd-card-title-text">{{ .Title }}</h2>
							    <span class="pmd-card-subtitle-text">Published on: {{ .Date.Format "2006-01-02" }}</span>
							</div>

							<!-- Card media image -->
							<div class="media-right media-middle">
							    <a href="javascript:void(0);">
								<img width="80" height="80" src="{{ .Params.img }}">
							    </a>
							</div>
						    </div>
						    <!-- Card action -->
						    <div class="pmd-card-actions">
							<button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"  onclick="location.href='{{ .Permalink }}';">Read More</button>
						    </div>
						</div>
					</div>

					<!--Default card ends -->
        {{ end }}
   {{ end }}
</ul>
