{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}


<!-- Modal Structure -->
<div id="portfolioModal{{ .modalID }}" class="modal modal-fixed-footer grey-text">
	<div class="modal-content">
		<h4>{{ .title }}</h4>
			<img src="img/portfolio/{{ .img }}" class="img-responsive img-centered responsive-img" alt="" max-height="50px" max-width="50px">

		<p>{{ .description | markdownify }}</p>
		<ul class="list-inline item-details">
			<li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}{{ end }}:
				<strong><a href="{{ .clientLink }}">{{ .client }}</a></strong>
			</li>
			<li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}{{ end }}:
				<strong>{{ .date }}</strong>
			</li>
				<li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}{{ end }}:
			<strong>{{ .category }}</strong>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action red modal-close waves-effect waves-green btn-flat ">close</a>
	</div>
</div>
{{ end }}
