{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section class="panelx pmd-z-depth" id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 center">
				<h1 style="color: #4285F4">{{ with .Site.Params.portfolio.title }}{{.}}{{end}}</h1>
			</div>
		</div>
		<div class="card-columns col-md-12 col-lg-12">

			{{ range $.Site.Data.projects }}
			<!-- Media, Title, and Description area -->
			<div class="col-md-4 col-lg-4">
				<div class="pmd-card pmd-card-default pmd-z-depth-1">

					<!-- Card media -->
				    <div class="pmd-card-media">
					<img width="1184" height="666" class="img-responsive" src="img/portfolio/raw-{{ .img }}">
				    </div>

				    <!-- Card header -->
				    <div class="pmd-card-title">
					<h2 class="pmd-card-title-text">{{.title}}</h2>
				    </div>

				    <!-- Card action -->
				    <div class="pmd-card-actions">
					<button data-target="#large-dialog-{{.modalID}}" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Read More</button>
				    </div>
				</div>
			</div>

			<!-- Dialog in large size -->
			<div tabindex="-1" class="modal fade" id="large-dialog-{{.modalID}}" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
							<div class="media-left"> <a href="javascript:void(0);" class="avatar-list-img"> <img width="40" height="40" src="img/portfolio/{{ .img }}"> </a> </div>
							<div class="media-body media-middle">
								<h3 class="pmd-card-title-text">{{.title}}</h3>
								<span class="pmd-card-subtitle-text">Client: {{ .client }} on {{ .date }}</span> </div>
						</div>
						<div class="pmd-modal-media"> <img style="margin: auto; max-width: 80%; max-height: 60%;" class="img-responsive" src="img/portfolio/{{ .img }}"> </div>
						<div class="modal-body">Category: {{ .category }}
							<br></br>
							{{ .description | markdownify }}</div>
					</div>
				</div>
			</div>
			{{ end }}
			</div>
		</div>
	</div>
</section>
